@import "../../widget/component/component_1.scss";
@import "../../widget/component/component_2.scss";

page {
	background-color: white;
}

.block {
	display: block;
	padding: 5rpx;
	font-size: 24rpx;

    &-click {
    	padding: 30rpx;
    	text-align: center;
    	margin: 20rpx;
    	background-color: #118bfb;
    	border-radius: 6rpx;
    	color: white;
    }

    &-line {
    	width: 100%;
    	border-bottom: 1px solid #e8e8e8;
    	margin: 20rpx 0;
    }
}