$test: 100%;
page{
    background-color:#FAFAFA;
}
.container {
    height: $test;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 200rpx 0;
    box-sizing: border-box;

    &-test {
        color: red;
    }
}
